@import './variables.css';
@import './iconfonts.css';

/*Hacemos de lost que se ejecute como flex*/
@lost flexbox flex;

/* Creando Media ueries personalizadas */
@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 650px);
@custom-media --desktop (max-width: 800px);
@custom-media --retina (-webkit-min-device-pixel-ratio: 2);

/* Mixins */
@define-mixin btn $textColor, $bgColor, $bgColorStart, $bgColorEnd {
    border-radius: 12px;
    border: none;
    color: $(textColor);
    padding: 7px 12px;
    cursor: pointer;
    font-size: calc(var(--fontSize));
    text-decoration: none;
    background: $(bgColor);
    background: linear-gradient(to left, $(bgColorStart), $(bgColorEnd));
}

/* HTML tags */
body{
    font-family: 'Allerta', sans-serif;
    margin: 0px;
    table{
        width: 100%;
    }

    th{
        background: var(--bg-footer);
        color: white;
        padding: 10px 20px;
        text-align: left;
    }

    td {
        padding: 20px;
    }

    table, td, th {
        border: 1px solid #273b47;
        border-collapse: collapse;
    }

    input, textarea {
        outline: 0;
    }

    input:focus, textarea:focus {
        background: lightgray;
    }
}

/* Clases */
.u-scrollContainer{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;
    font-size: 0;

    &-itemContainer{
        border: 1px solid var(--border-feature);
        border-radius: 12px;
        width: 98%;
        margin: 1%;
        display: inline-block;
        line-height: 18px;
        font-size: 18px;
    }
    &-itemContent{
        display: flex;

        & > img  {
            width: auto;
            height: 200px;
        }
    }
}

.u-Grid {
    background: gray;
    lost-center: 800px;
    lost-utility: clearfix;

    &-column {
        background-color: blue;
        lost-column: 1/5;

        @media (--tablet){
            lost-column: 1/3;
        }

        @media (--mobile){
            lost-column: 1/1;
        }
        
    }
}
.u-wrapper {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.InvieHero {
   background: url('../images/background.png') var(--bg-header);
   padding: 20px;
   height: 500px;
   background-size: cover;
   @media (--retina) {
      background: url('../images/background2x.png') var(--bg-header);
   }
   &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   &-logo{
       transition: all 0.3s ease-in;
       &:hover{
           filter: blur(4px);
       }
   }
   &-copy {
        &-title {
            font-family: 'Montserrat', sans-serif;
            color: var(--bg-body);
            font-size: responsive 32px 70px;
            margin-bottom: 0;
            margin-top: 70px;

            span{
                text-decoration: underline;
            } 
        }
        &-subtitle{
            font-size: 24px;
            margin-top: 0;
            color: var(--bg-body);
        }
        &-btn {
            margin-bottom: 70px;
            @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
        }
    }
    &-navbar{
        font-size: 24px;
        display: inline-block;
        position: absolute;
        right: 0;

        li{
            display: inline-block;
            margin-left: 30px;

            & > :before{
                content: '∘';
                font-size: 24px;
                line-height: 24px;
                color: white;
                margin-right: 5px;
            }

            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}
.InvieGuitars{
    color: #1F313C;
    margin-bottom: 60px;

    &-title{
        font-family: 'Montserrat', sans-serif;
        font-size: responsive 16px 35px;
    }
}
.InvieFooter {
   background-color: var(--bg-footer);
   &-form{
       &-btn{
           @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
       }
   }
}