:root {
    --bg-body: #fafafa;
    --bg-header: #466173;
    --bg-footer: #273b47;

    --border-feature: #1d313c;

    --btn-gradient: #fd324e;
    --btn-gradient-start: color(var(--btn-gradient) blackness(30%));
    --btn-gradient-end: color(var(--btn-gradient) lightness(+10%) hue(10%));

    --fontSize: 18px;
}


